{
  "extends": "eslint:recommended",
  "plugins": [
    "jest"
  ],
  "env": {
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "no-console": "warn",
    "no-undefined": "error",
    "no-unused-vars": "warn",
    "indent": ["error", 2, {
      "SwitchCase": 1,
      "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }
    }],
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "valid-jsdoc": 2
  }
}